.perceptron-controls {
    border-left: 1px solid #cee1ff;
    height: 100%;
    padding: 2% 5%;
}

.perceptron-controls-header {
    margin: 10px 0;
}

.perceptron-controls-widgets {
    width: 100%;
}

.perceptron-controls-widget {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.perceptron-controls-widget-label,
.perceptron-controls-widget-input {
    display: table-cell;
    vertical-align: middle;
}

.perceptron-controls-widget-label {
    padding-right: 5px;
    width: 100px;
}

.perceptron-controls-widget-input {
    text-align: right;
    width: calc(100% - 105px);
}

.perceptron-controls-widget-input input {
    width: 90%;
}

.perceptron-controls-widget-button-group {
    text-align: center;
    width: 100%;
}

.perceptron-controls-widget-button-group input[type="button"] {
    margin: 1% 2%;
}

.perceptron-controls-data {
    height: 60%;
}

.perceptron-controls-data-body {
    border-bottom: 2px solid #cee1ff;
    height: 92%;
    margin: 0;
    /*min-height: 100px;*/
    overflow: hidden;
    width: 100%;
}

.perceptron-controls-data-body:hover {
    overflow-y: auto;
}

.perceptron-controls-data >
table td,
.perceptron-controls-data-body > 
table td {
    width: 25%;
}

 @media only screen and (max-height: 768px) {
  .perceptron-controls-data-body {
        height: 55%;
    }
}