<!DOCTYPE html>
<html>
<head>
<title>Introduction</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	<script type="text/javascript" src="js/controller.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="style/indexStyle.css">
</head>
<body ng-app="app-menu" ng-controller="menuController">
<header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!--Brand-->
	<a class="navbar-brand" href="index.html">S4S</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="collapsibleNavbar" class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<!--Themes dropdown-->
			<li class="nav-item dropdown" ng-repeat="theme in themes">
				<a id="navbardrop" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ theme.name }}</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#" ng-repeat="topic in theme.topics">{{ topic.topic }}</a>
				</div>
			</li>
			<form class="form-inline" action="#">
				<input class="form-control mr-sm-2" type="text" name="" placeholder="Search topic">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</ul>
	</div>
</nav>
</header>
<div class="container">
	<p>This</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>is</p>
	<br><br><br><br><br>
	<p>a</p>
	<br><br><br><br><br><br><br>
	<p>Test</p>
	<br><br><br><br><br><br>
	<p>!!</p>
</div>
<footer class="bg-dark">
	<div class="container">
		<strong class="text-muted">Themes:</strong>
		<ul>
			<li ng-repeat="theme in themes"><span class="text-muted">{{ theme.name }}</span></li>
		</ul>
	</div>
</footer>
</body>
</html>