body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: gray;
}

a:visited {
  color: purple;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

table thead {
  background: #6ca4fc;
  color: #fff;
}

table tr td {
  border: 1px solid #cee1ff;
}

.progress-bar {
  /*font-size: 12px;*/
  padding-bottom: 2px;
  text-align: left;
  width: 100%;
}

.progress-bar > .progress-bar-label {
  margin-bottom: 2px;
}

.progress-bar > .bar {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 2px;
  transition: width 1s;
  width: 100%;
}

.button {
  background: #cee1ff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  padding: 2% 5%;
  transition: background 0.2s;
  width: 85px;
}

.button:hover {
  background: #6ca4fc;
  font-weight: bold;
}

.button:active {
  background: #6ca4fc;
  color: #fff;
}

.button:disabled {
  background: #cee1ff;
  font-weight: normal;
}

.horizontal-separator {
  background: #cee1ff;
  border-radius: 100%;
  height: 2px;
  margin: 10px 0;
  width: 100%;
}
