.overview-contents {
    
}

/****************************************Text********************************/
.overview-note {
    background: #dbdbdb;
    margin: 5px 0;
    padding: 5px;
}

.overview-note .overview-strong {
    text-decoration: underline;
}

.overview-strong {
    font-weight: bold;
}


/****************************************Images********************************/
.overview-img {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    width: 90%;
}

.overview-img img {
    height: 100%;
    width: 100%;
}

.overview-img .overview-img-footer {
    font-size: 12px;
    margin-top: 5px;
}

.overview-text-img {
    height: 15px;
    width: 16px;
}

/****************************************Unordered lists***********************/
overview-u-list {
    margin: 0;
}

.overview-u-list ul {
    
}

/****************************************Ordered lists***********************/
.overview-o-list {
    margin: 0;
}

/****************************************Buttons*******************************/
.overview-go-up {
    margin: auto;
    text-align: center;
}

.overview-go-up input[type="button"] {
    cursor: pointer;
}